<div class="jumbotron">
			<h1>Selfie Challenge</h1>
				<p>

					The best selfie wins!
					
				</p>
				<p>

					<%=  link_to "Sign Up & Post Your First Selfie", "#", class: "btn btn-danger btn-lg"  %>

				</p>
		</div>
	